.e-carousel-bg {
  background-color: #fceae8;
  border-radius: 1.5em;
}
.e-card {
  border: 0;
}
.e-footer {
  border: 0;
  background-color: white;
}
.e-catagory img {
  width: 100px;
}
.e-update-bg {
  background-color: #fceae8;
  border-radius: 1.5em;
}
